## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import sys
sys.path.append("..")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
from IPython.display import display
from ipywidgets import widgets, interactive

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\atomi\Desktop\Data Analysis\World_Weather_Analysis\Weather_Database\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,39.20,81,40,8.05,scattered clouds
1,1,Qaanaaq,GL,77.4840,-69.3632,-12.69,64,0,7.90,clear sky
2,2,Octeville,FR,49.6261,-1.6435,39.99,69,90,2.30,overcast clouds
3,3,College,US,64.8569,-147.8028,17.01,85,75,1.39,broken clouds
4,4,Severodvinsk,RU,64.5635,39.8302,-9.40,77,0,4.47,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Hobart,AU,-42.8794,147.3294,71.01,59,75,10.36,broken clouds
13,13,Busselton,AU,-33.6500,115.3333,70.00,77,95,4.00,overcast clouds
31,31,Sur,OM,22.5667,59.5289,73.00,55,0,1.34,clear sky
42,42,New Norfolk,AU,-42.7826,147.0587,71.01,59,75,10.36,broken clouds
50,50,Richards Bay,ZA,-28.7830,32.0377,71.19,85,11,9.08,few clouds
54,54,Mar Del Plata,AR,-38.0023,-57.5575,71.01,78,40,9.22,moderate rain
80,80,Inhambane,MZ,-23.8650,35.3833,71.47,79,1,3.42,clear sky
87,87,Itacarambi,BR,-15.1022,-44.0919,72.07,80,0,3.11,clear sky
93,93,Gushikawa,JP,26.3544,127.8686,73.40,78,20,10.36,few clouds
96,96,Hilo,US,19.7297,-155.0900,71.60,83,90,8.05,light rain

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                177
City                   177
Country                175
Lat                    177
Lng                    177
Max Temp               177
Humidity               177
Cloudiness             177
Wind Speed             177
Current Description    177
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
clean_df = preferred_cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Hobart,AU,71.01,broken clouds,-42.8794,147.3294,
13,Busselton,AU,70.00,overcast clouds,-33.6500,115.3333,
31,Sur,OM,73.00,clear sky,22.5667,59.5289,
42,New Norfolk,AU,71.01,broken clouds,-42.7826,147.0587,
50,Richards Bay,ZA,71.19,few clouds,-28.7830,32.0377,
54,Mar Del Plata,AR,71.01,moderate rain,-38.0023,-57.5575,
80,Inhambane,MZ,71.47,clear sky,-23.8650,35.3833,
87,Itacarambi,BR,72.07,clear sky,-15.1022,-44.0919,
93,Gushikawa,JP,73.40,few clouds,26.3544,127.8686,
96,Hilo,US,71.60,light rain,19.7297,-155.0900,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   175
Country                175
Max Temp               175
Current Description    175
Lat                    175
Lng                    175
Hotel Name             175
dtype: int64

In [11]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Hobart,AU,71.01,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
13,Busselton,AU,70.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
31,Sur,OM,73.00,clear sky,22.5667,59.5289,Sur Plaza Hotel
42,New Norfolk,AU,71.01,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
50,Richards Bay,ZA,71.19,few clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and <dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))